@model MoviesWithCategoriesVM
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <h1 class="mb-5">Generate more leads with a professional landing page!</h1>
                </div>
            </div>
        </div>
    </div>
</header>
    <div class="container py-5">
        <div class="row">
            @foreach (var item in Model.Movies)
        {
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card movie-card h-100">
                    <img src="/assets/img/Movies/@item.ImgUrl" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text text-muted">@foreach (var category in Model.Categories)
                            {
                                
                                @category.Name
                            }
                            
                            
                            • @item.PgRate</p>
                        <a href="#" class="btn btn-primary w-100">Book Now</a>
                    </div>
                </div>
            </div>
        }
            
        </div>
    </div>
