@model Cinema
<div class="container col-12">
    <div class="row">
        <div class="col-12">
            <h2 class="display-6">Edit Cinema</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form method="post">

                <div class="mb-3">
                    <label class="form-label"></label>
                    <input type="text" class="form-control" placeholder="Enter Cinema name" asp-for="Name">
                </div>

                <div class="mb-3">
                    <label class="form-label"></label>
                    <textarea class="form-control" placeholder="Enter Cinema's Description" asp-for="Description" rows="3"></textarea>
                </div>

                <div class="mb-3">
                    <label class="form-label"></label>
                    <input type="text" class="form-control" placeholder="Enter Cinema's Address" asp-for="Address">
                </div>

                <div class="mb-3">
                    <label class="form-label"></label>
                    <input type="text" class="form-control" placeholder="Profile Picture URL" asp-for="CinemaLogo">
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
                <a asp-action="Index" class="btn btn-secondary ms-2">Cancel</a>
            </form>
        </div>
    </div>
</div>