@model Category
<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-12">
            <h2 class="display-6">Edit Category</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form method="post">
                <div class="mb-3">
                    <label for="Name" class="form-label"></label>
                    <input type="text" class="form-control" placeholder="Name" name="Name" value="@Model.Name">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>